@font-face {
  font-family: "/src/fonts/";
  font-weight: "Roboto";
  font-style: normal;
  src: url("/src/fonts/.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background: #08020D;
}

.container {
  width: 1240px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.position-rel {
  position: relative;
}

.position-abs {
  position: absolute;
}

.flex {
  display: flex;
}

/*desktop*/
@media (min-width: 1240px) {
  h1 {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    font-size: 38px;
    font-family: "Roboto", sans-serif;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .container {
    width: 1240px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*mobile*/
@media (max-width: 1199px) {
  h1 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .container {
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.btn {
  padding: 20px 30px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}

.header {
  position: absolute;
  align-items: center;
  top: 25px;
}

.logo {
  align-items: center;
}

.text-header {
  margin-right: 24px;
  padding-top: 3px;
  color: #E0E0E0;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.text-header:last-child {
  margin-right: 0;
}

.logo-title {
  margin-right: 16px;
  color: #fff;
}
.logo-title:last-child {
  margin-right: 90px;
}

.nav a:active {
  color: #fff;
}

.marg-left {
  margin-left: 451px;
}

.search {
  min-width: 248px;
  padding: 5px 10px 5px;
  color: #757575;
  background: #3C3B3D;
  border: none;
  border-radius: 50px;
}

@media (max-width: 1199px) {
  .mb-20 {
    margin-bottom: 20px;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
  }

  .mh-24 {
    max-height: 24px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    left: 20px;
    right: 20px;
  }

  .logo-title {
    margin-bottom: 17px;
  }

  .text-header {
    line-height: 13px;
    margin-right: 0;
  }

  .marg-left {
    width: 100%;
    margin-left: 0;
  }

  .search {
    width: 100%;
  }
}
.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  background: url("/src/images/banner.png");
  background-position: center;
  background-size: cover;
}

.banner-sec {
  color: #fff;
  text-align: center;
}
.banner-sec h2 {
  margin-bottom: 31px;
}
.banner-sec p {
  margin-bottom: 17px;
  font-size: 16px;
}
.banner-sec .flex-form {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  margin: auto;
}
.banner-sec .form {
  flex: 1 1 0;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  background: transparent;
  border: 2px solid #CACACA;
  border-radius: 3px;
}
.banner-sec::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto-Regular", sans-serif;
}

.margin-rigth-24 {
  margin-right: 24px;
}

.btn-green {
  width: 100%;
  background: #34C176;
  border: none;
}

@media (max-width: 1199px) {
  .banner h1 {
    margin-top: 48px;
  }
  .banner h2 {
    margin-bottom: 16px;
  }
  .banner .margin-rigth-24 {
    margin-right: 0;
  }
}
.pricing-section {
  padding-top: 100px;
  text-align: center;
}

.bg-free {
  background: url("/src/images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standard {
  background: url("/src/images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background: url("/src/images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing-item {
  margin-right: 50px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 24px;
  border-radius: 1rem;
}
.pricing-item a {
  color: #fff;
  text-decoration: none;
}
.pricing-item h3 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  line-height: 36px;
  text-transform: uppercase;
}
.pricing-item span {
  line-height: 1em;
}
.pricing-item .price {
  margin-right: 16px;
  color: #fff;
  font-size: 64px;
}

.rub {
  padding-top: 8px;
  font-size: 32px;
  line-height: 32px;
  color: #fff;
}

.pricing-value {
  align-content: start;
  justify-content: center;
  margin-bottom: 43px;
  margin-top: 200px;
}

.mr-0 {
  margin-right: 0;
}

.btn-sub {
  display: inline-block;
  min-width: 318px;
  font-size: 16px;
  border: 1px solid #fff;
}

.pricing-footer {
  max-width: 318px;
  min-height: 57px;
  margin-top: 64px;
  margin-bottom: 64px;
  color: #fff;
  font-size: 12.8px;
  line-height: 1.5;
}

.sub-end {
  color: #fff;
  font-size: 16px;
  min-height: 47px;
}

.flex-set {
  justify-content: center;
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .flex-set {
    justify-content: center;
  }

  .sub-header {
    margin-bottom: 45px;
  }

  .sub-end {
    min-height: 120px;
  }

  .btn-sub {
    min-width: 326px;
  }

  .pricing-footer {
    min-width: 326px;
    min-height: 57px;
  }

  .pricing-item {
    margin-right: 0;
    margin-bottom: 50px;
    padding-top: 16px;
  }
  .pricing-item:last-child {
    margin-bottom: 0;
  }
  .pricing-item h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .sub-form {
    margin-bottom: 52px;
  }
}
.pricing-value {
  margin-top: 200px;
  margin-bottom: 40px;
}

.sub-header {
  margin-bottom: 46px;
  color: #fff;
}

.wrap {
  flex-wrap: wrap;
}

.pad-top-100 {
  padding-top: 100px;
}

.news-header {
  margin-bottom: 48px;
  color: #fff;
}

.news-item {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;
}

.news-body {
  flex-direction: column;
}

.music-box {
  color: #F89202;
  text-transform: uppercase;
}

.news-h3 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #fff;
}

.news-p {
  max-width: 575px;
  margin-bottom: 24px;
  font-size: 16px;
}

.news-author {
  align-items: center;
  margin-bottom: 48px;
  font-size: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.btn-news {
  display: inline-block;
  padding: 16px 30px;
  font-size: 12px;
  border: 1px solid #fff;
  color: #CACACA;
}

.mb-0 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .news-item {
    justify-content: center;
  }

  .news-body h3 {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .news-item-reverse {
    flex-direction: column-reverse;
    align-items: center;
  }

  .news-img {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
.mobile {
  padding-top: 100px;
  margin-bottom: 100px;
}

.jc-sa {
  justify-content: unset;
}

.mr-144 {
  margin-right: 144px;
}

.mb-48 {
  margin-bottom: 48px;
}

.text-mobile {
  max-width: 600px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-app {
  display: inline-block;
  padding: 16px 40px;
  font-size: 12.8px;
  text-transform: none;
  background-color: #95390C;
  border: none;
  border-radius: 32px;
}

.mb-16 {
  margin-bottom: 16px;
}

.text-app {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.min-height {
  min-height: 131px;
}

.mobile-header {
  color: #fff;
}

@media (max-width: 1199px) {
  .app-img {
    max-width: 333px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .mr-144 {
    margin-right: 0;
  }

  .mobile {
    margin-bottom: 0;
  }

  .mobile-img {
    max-width: 100%;
  }

  .app-body {
    max-width: 374px;
  }

  .mb-16 {
    min-height: 96px;
  }
}
.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  font-size: 16px;
}

.border {
  border-bottom: 2px solid #CACACA;
}

.marker {
  list-style-type: none;
}

.top-section {
  padding-top: 62px;
  padding-bottom: 72px;
}

.column-footer {
  flex-direction: column;
  min-width: 270px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-24 {
  margin-right: 24px;
}

.footer-h2 {
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  min-width: 270px;
}

.social-links {
  vertical-align: middle;
}

.footer-a {
  color: #CACACA;
  font-style: normal;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  line-height: 24px;
}

.footer-p {
  color: #CACACA;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}

.flex-row {
  flex-direction: row;
}

.bottom-footer {
  padding-top: 40px;
  padding-bottom: 49px;
}

.footer-bottom-col-row {
  flex-direction: row;
}

@media (max-width: 1199px) {
  .footer-h2 {
    margin-bottom: 16px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .bottom-footer {
    padding-bottom: 48px;
  }

  .column-footer {
    min-width: 374px;
  }

  .top-section {
    padding-bottom: 72px;
  }

  .mobile-width {
    min-width: 374px;
  }

  .footer-bottom-col-row {
    flex-direction: column;
  }
  .footer-bottom-col-row .footer-a {
    margin-bottom: 16px;
  }
  .footer-bottom-col-row .footer-a:last-child {
    margin-bottom: 0;
  }
  .footer-bottom-col-row .last-col {
    margin-bottom: 0;
  }
}
.focus {
  color: #fff;
}

.artist-h1 {
  margin-top: 50px;
  margin-bottom: 16px;
  color: #fff;
  text-align: left;
}

.bg-artist {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("/src/images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.mb-48 {
  margin-bottom: 48px;
}

.mr-24 {
  margin-right: 24px;
}

.btn-red {
  background: #95390C;
}

.btn-purple {
  background: #5328A1;
}

.btn-artist {
  align-items: center;
  min-width: 200px;
  max-height: 62px;
  font-size: 12.8px;
  text-transform: uppercase;
  border: none;
}

.svg-img {
  margin-right: 16px;
  filter: invert(100%);
}

@media (max-width: 1199px) {
  .btn-purple {
    margin-bottom: 24px;
  }

  .artist-h1 {
    margin-top: 25px;
  }
}
.pt-100 {
  padding-top: 100px;
}

.traks-h2 {
  margin-bottom: 48px;
  color: #fff;
  text-align: left;
}

.track-secondary-flex {
  align-items: center;
  justify-content: space-between;
  min-width: 551px;
  margin-bottom: 25px;
  margin-right: 49px;
}

.track-img {
  margin-right: 15px;
}

.track-col {
  flex-direction: column;
  justify-content: center;
}

.track-info h3 {
  font-size: 12.8px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -0.4px;
}
.track-info p {
  color: #CACACA;
  font-size: 12.8px;
}

.mb-0 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .track-secondary-flex {
    min-width: 374px;
  }

  .track-main-flex {
    justify-content: center;
  }

  .mb-24 {
    margin-bottom: 24px;
  }
}
.disco-col {
  flex-direction: column;
  margin-right: 50px;
  margin-bottom: 25px;
}

.disco-img {
  width: 250px;
  height: 250px;
  margin-bottom: 18px;
}

.disco-info h3 {
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
}
.disco-info p {
  font-size: 16px;
}

@media (max-width: 1199px) {
  .disco-img {
    width: 137px;
    height: 137px;
  }

  .disco-col:nth-child(2n) {
    margin-right: 0;
  }

  .disco-info h3 {
    max-width: 137px;
    letter-spacing: -1px;
  }
  .disco-info p {
    max-width: 137px;
  }
}
.similar {
  margin-bottom: 100px;
  padding-top: 100px;
}

.similar-text-center {
  text-align: center;
}

.similar-h2 {
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 1199px) {
  .similar-h2 {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
