.focus {
  color: $white;
}

.artist-h1 {
  margin-top: 50px;
  margin-bottom: 16px;

  color: $white;

  text-align: left;
}

.bg-artist {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url("/src/images/Morten\ Harket.png");
  background-position: center;
  background-size: cover;
}

.mb-48 {
  margin-bottom: 48px;
}

.mr-24 {
  margin-right: 24px;
}

.btn-red {
  background: $red;
}

.btn-purple {
  background: $purple;
}

.btn-artist {
  align-items: center;
  min-width: 200px;
  max-height: 62px;

  font-size: 12.8px;

  text-transform: uppercase;

  border: none;
}

.svg-img {
  margin-right: 16px;

  filter: invert(100%);
}

@media (max-width: 1199px) {
  .btn-purple {
    margin-bottom: 24px;
  }

  .artist-h1 {
    margin-top: 25px;
  }
}
