.header {
  @include position-abs;
  @include al-items-center;

  top: 25px;
}

.logo {
  @include al-items-center;
}

.text-header {
  @include mr(24px);

  padding-top: 3px;

  color: $gray;
  font-weight: bold;
  font-size: 11px;

  @include line-height(16px);

  text-transform: uppercase;
  text-decoration: none;

  &:last-child {
    @include mr(0);
  }
}

.logo-title {
  margin-right: 16px;

  color: $white;

  &:last-child {
    @include mr( 90px);
  }
}

.nav {
  a:active {
    color: $white;
  }
}

.marg-left {
  @include ml(451px);
}

.search {
  min-width: 248px;
  padding: 5px 10px;

  color: $search-text;

  background: $dark;
  border: none;
  border-radius: 50px;
}

@media (max-width: 1199px) {
  .mb-20 {
    margin-bottom: 20px;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
  }

  .mh-24 {
    max-height: 24px;
  }

  .header {
    right: 20px;
    left: 20px;

    flex-direction: column;
    align-items: flex-start;
  }

  .logo-title {
    @include mb(17px);
  }

  .text-header {
    @include line-height(13px);

    margin-right: 0;
  }

  .marg-left {
    width: 100%;

    @include ml(0);
  }

  .search {
    width: 100%;
  }
}
