.similar {
  margin-bottom: 100px;
  padding-top: 100px;
}

.similar-text-center {
  text-align: center;
}

.similar-h2 {
  color: $white;

  margin-bottom: 48px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .similar-h2 {
    font-size: 18px;
  }
}
