.pricing-section {
    padding-top: 100px;

    text-align: center;
}

.bg-free {
    background: url("/src/images/subscribe_1.png");
    background-position: center;
    background-size: cover;
}

.bg-standard {
    background: url("/src/images/subscribe_2.png");
    background-position: center;
    background-size: cover;
}

.bg-premium {
    background: url("/src/images/subscribe_3.png");
    background-position: center;
    background-size: cover;
}

.pricing-item {

    margin-right: 50px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 24px;
  
    border-radius: 1rem;
  
    a {
      color: $white;
      text-decoration: none;
    }

    h3 {

        color: $white;
        font-weight: 400;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        line-height: 36px;
        text-transform: uppercase;
    }

    span {
        line-height: 1em;
    }

    .price {
        margin-right: 16px;
      
        color: $white;
        font-size: 64px;
      }

}

.rub {
  padding-top: 8px;

  font-size: 32px;
  line-height: 32px;

  color: $white;
}

.pricing-value {
  align-content: start;
  justify-content: center;
  margin-bottom: 43px;
  margin-top: 200px;
}

.mr-0 {
  margin-right: 0;
}

.btn-sub {
  display: inline-block;
  min-width: 318px;

  font-size: 16px;

  border: 1px solid $white;
}

.pricing-footer {

  max-width: 318px;
  min-height: 57px;
  margin-top: 64px;
  margin-bottom: 64px;

  color: $white;
  font-size: 12.8px;
  line-height: 1.5;
}

.sub-end {
  color: $white;
  font-size: 16px;
  

  min-height: 47px;
}

.flex-set {
  justify-content: center;
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .flex-set {
    justify-content: center;
  }

  .sub-header {
    margin-bottom: 45px;
  }

  .sub-end {
    min-height: 120px;
  }

  .btn-sub {
    min-width: 326px;
  }

  .pricing-footer {
    min-width: 326px;
    min-height: 57px;
  }

  .pricing-item {
    margin-right: 0;
    margin-bottom: 50px;

    padding-top: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {

      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .sub-form {
    margin-bottom: 52px;
  }
}

.pricing-value {
  margin-top: 200px;
  margin-bottom: 40px;
}

.sub-header {
  margin-bottom: 46px;
  color: $white;
}

.wrap {
  flex-wrap: wrap;
}