.pt-100 {
  padding-top: 100px;
}

.traks-h2 {
  margin-bottom: 48px;

  color: $white;

  text-align: left;
}

.track-secondary-flex {
  align-items: center;
  justify-content: space-between;
  min-width: 551px;
  margin-right: 49px;
  margin-bottom: 25px;
}

.track-img {
  margin-right: 15px;
}

.track-col {
  flex-direction: column;
  justify-content: center;
}

.track-info {
  h3 {
    color: $white;
    font-size: 12.8px;
    text-transform: uppercase;

    letter-spacing: -0.4px;
  }

  p {
    color: $dark-gray;
    font-size: 12.8px;
  }
}

.mb-0 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .track-secondary-flex {
    min-width: 374px;
  }

  .track-main-flex {
    justify-content: center;
  }

  .mb-24 {
    margin-bottom: 24px;
  }
}
