.disco-col {
    flex-direction: column;   
    margin-right: 50px;
    margin-bottom: 25px;
}

.disco-img {
    width: 250px;
    height: 250px;
    margin-bottom: 18px;
}

.disco-info {

    h3 {
        font-size: 17px;
        text-transform: capitalize;
        color: $white;
        letter-spacing: -0.6px;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 1199px) {
    .disco-img {
      width: 137px;
      height: 137px;
    }
  
    .disco-info {

        h3 {
            max-width: 138px;
        }
        
        p {
            max-width: 138px;
        }
    }
    
}
