.disco-col {
    flex-direction: column;   
    margin-right: 50px;
    margin-bottom: 25px;
}

.disco-img {
    width: 250px;
    height: 250px;
    margin-bottom: 18px;
}

.disco-info {

    h3 {
        font-size: 18px;
        text-transform: capitalize;
        color: $white;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 1199px) {
    
    .disco-img {
      width: 137px;
      height: 137px;
    }

    .disco-col {

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
  
    .disco-info {

        h3 {
            max-width: 137px;
            letter-spacing: -1px;
        }
        
        p {
            max-width: 137px;
        }
    }
    
}
