body {

    font-family: Roboto-Regular, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #cacaca;

    background: $black;
}

@mixin heading($fz, $lh) {
    font-size: $fz;
    font-family: Roboto-Bold, sans-serif;
    line-height: $lh;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin container($wh) {
    width: $wh;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
  
@mixin line-height($lh) {
    line-height: $lh;
}

@mixin position-rel {
    position: relative;
}

.position-rel {
    @include position-rel;
}

@mixin position-abs {
    position: absolute;
}

.position-abs {
    @include position-abs;
}  

@mixin d-flex {
    display: flex;
}

.flex {
    @include d-flex;
}

@mixin al-items-center {
    align-items: center;
}

@mixin mt($mt) {
    margin-top: $mt;
}

@mixin mb($mb) {
    margin-bottom: $mb;
}

@mixin ml($ml) {
    margin-left: $ml;
}

@mixin mr($mr) {
    margin-right: $mr;
}

/*desktop*/

@media (min-width: 1240px) {
  
    h1 {
  
        @include heading(60px, 90px)
    }
  
    h2 {
  
        @include heading(38px, 57px)
    }

    .container {

        @include container(1240px)
    }

}
  
  /*mobile*/

@media (min-width: 1240px) {
  
    h1 {
  
        @include heading(30px, 45px)
    }
  
    h2 {
  
        @include heading(18px, 27px)
    }

    .container {

        @include container(100%)
    }

}
