.header {
    @include position-abs;
    @include al-items-center;

    top: 25px;
}

.logo {
    @include al-items-center;
}

.logo-title {
    @include mr(16px);
  
    &:last-child {
      @include mr (90px);
    }
}

.text-header {
    @include mr(24px);

    padding-top: 3px;

    color: $gray;
    font-size: 11px;
    font-weight: bold;
    @include line-height(16px);

    text-decoration: none;
    text-transform: uppercase;

    &:last-child {
        @include mr(0);
    }
}

.nav {

    a:active {
        color: $white;
    }
}

.marg-left {
    @include ml(451px)
}

.search {
    min-width: 248px;
    padding: 5px 10px 5px;

    color: $search-text;

    background: $dark;
    border: none;
    border-radius: 50px;
}

@media (max-width: 1199px) {

    .nav {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 18px;
    }

    .logo-title {
        @include mb(17px)
    }

    .text-header {
        @include line-height(13px);
    }

    .marg-left {
        width: 100%;
        @include ml(0);
    }

    .search {
        width: 100%;
    }
}
