.pricing-section {
    padding-top: 100px;

    text-align: center;
}

.bg-free {
    background: url("/src/images/subscribe_1.png");
    background-position: center;
    background-size: cover;
}

.bg-standart {
    background: url("/src/images/subscribe_2.png");
    background-position: center;
    background-size: cover;
}

.bg-premium {
    background: url("/src/images/subscribe_3.png");
    background-position: center;
    background-size: cover;
}

.pricing-item {

    margin-right: 50px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  
    border-radius: 1rem;
  
    a {
      color: $white;
      text-decoration: none;
    }

    h3 {
        padding-bottom: 200px;
        padding-top: 24px;

        color: $white;
        font-weight: 400;
        font-size: 24px;
        font-family: Roboto-Regular, sans-serif;
        line-height: 36px;
        text-transform: uppercase;
    }

    span {
        line-height: 1em;
    }

    .price {
        margin-right: 16px;
      
        color: $white;
        font-size: 64px;
      }
      
      .rub {
        padding-top: 8px;
      
        font-size: 32px;
      }

      .pricing-value {
        align-content: start;
        justify-content: center;
        margin-bottom: 40px;
      }

}

.pricing-item {
    margin-right: 50px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  
    border-radius: 1rem;
  
    a {
      color: $white;
      text-decoration: none;
    }
  }